<section class="slogan-container">
    <h1 class="slogan">Web Application Projects List</h1>
</section>
<ul class="grid">
    <li class="list">
        <h1 class="section-title">Enterprise Cocoon Web Application</h1>
        <section class="section-content">
            <ul>
                <li>Role: Tech Lead, Full-stack Developer</li>
                <li>Frontend Technology: Angular Framework</li>
                <li>Backend Technology: NodeJS with Express</li>
                <li>Database: Db2 from IBM Cloud</li>
                <li>Infrastructures: Kubernetes Cluster from IBM Cloud</li>
            </ul>
        </section>
    </li>
    <li class="list">
        <h1 class="section-title">Enterprise RAI Web Application</h1>
        <section class="section-content">
            <ul>
                <li>Role: Front-end Developer</li>
                <li>Frontend Technology: ReactJS Framework</li>
                <li>Backend Technology: NodeJS with Express</li>
                <li>Database: AWS Storage</li>
                <li>Infrastructures: AWS Services</li>
            </ul>
        </section>
    </li>
    <li class="list">
        <h1 class="section-title">Enterprise Discount Tire Web Application</h1>
        <section class="section-content">
            <ul>
                <li>Role: Front-end Developer</li>
                <li>Frontend Technology: ReactJS Framework</li>
                <li>Backend Technology: Java Spring Boot</li>
                <li>Database: AWS Cloud Storage</li>
                <li>Infrastructures: AWS Services</li>
            </ul>
        </section>
    </li>
</ul>