<section>
    <h1>SUMMARY</h1>
    <p>Experienced software engineer, technical lead, and over three years of experience in implementing advanced technology and business solution. Recognized by the leadership and managers for great skills and abilities while working in multiple teams in competitive environments. Obtained bachelor’s in computer science and pursuing master science in software development at Boston University.</p>
    <h1>KEY SKILLS</h1>
    <ul>
        <li>Technologies: React, JavaScript, HTML5, CSS3, NodeJS/Express, Angular8+, TypeScript, React Native, iOS, Android, MySQL, PostgreSQL</li>
        <li>Certified in AWS, Google Cloud, and Azure</li>
        <li>Experiences in system design patterns of new or current systems</li>
        <li>Trained and worked in software engineering concepts and agile methodologies</li>
        <li>Ability to work in team-oriented environment and take on new challenging opportunities</li>
        <li>Project Management: Jira, GitHub, ZenHub, and Trello</li>
    </ul>
    <h1>WORK EXPERIENCES</h1>
    <h3>IBM CIC, BATON ROUGE, LA</h3>
    <h4>Software Engineer | Dec 2018 - Present</h4>
    <h4 style="margin-left: 20px; text-decoration: underline;">Projects</h4>
    <h4 class="project-title">TSS Cocoon, Baton Rouge, LA</h4>
    <h4 class="project-title">Full Stack Developer/Tech Lead</h4>
    <ul class="project-list">
        <li>Developed a web application using Angular8+, TypeScript, NodeJS/Express and SQL which consists of multiple user interfaces allowing users to control and maintain the data</li>
        <li>Built backend infrastructure with Kubernetes Cluster and Db2 technologies</li>
        <li>Led a team of developers from design to release, successfully produced an application, and maintained code utilizing collaborative process such as code reviews and pair programming</li>
        <li>Project recognition received due to potential for widespread use beyond the project and revenue generation</li>
    </ul>
    <h4 class="project-title">BP Refinery Mobile Application, Chicago, IL</h4>
    <h4 class="project-title">Mobile Developer</h4>
    <ul class="project-list">
        <li>Developed a mobile application in React Native to run in iOS/Android, and contributed ideas for the project</li>
        <li>Helped the team to display the oil data based on each BP Refinery in the application</li>
        <li>Recognized by clients and IBM team members</li>
    </ul>
    <h4 class="project-title">RAI, North Carolina</h4>
    <h4 class="project-title">Front-end Developer</h4>
    <ul class="project-list">
        <li>Developed a web application using React.js as the frontend framework and used AWS services</li>
        <li>Worked closely with team members and clients to implement design, develop, and test the application</li>
        <li>Developed a useable map functionality for the user by applying Google Map API, and login security feature for user accounts</li>
    </ul>
    <h1>EDUCATION</h1>
    <h3>Master of Science in Software Development</h3>
    <p style="margin-left: 40px;">Boston University, Boston, MA, May 2023</p>
    <h3>Bachelor of Science, Computer Science</h3>
    <p style="margin-left: 40px;">McNeese State University, Lake Charles, LA, May 2018</p>
</section>

