<img class="image" src="assets/images/profile_professional.jpg" alt="This my pro profile">
<ul class="grid">
    <li class="list">
        <h1 class="section-title">About Me</h1>
        <section class="section-content">
            <p>I am Vu Doan. I am from Baton Rouge, Louisiana. I am working in IBM for 4 years with
                Software Engineer position. I possessed bachelor’s in computer science. 
                I am pursuing master science in software development at Boston University.
            </p>
            
        </section>
    </li>
    <li class="list">
        <h1 class="section-title">Development Skills</h1>
        <section class="section-content">
            <ul>
                <li>Frontend Technologies: Angular, React, HTML, CSS, Javascript, Android and iOS</li>
                <li>Backend Technologies: NodeJS with Express, JAVA</li>
                <li>Database Technologies: SQL, NoSQL, Cloud Database services</li>
            </ul>
        </section>
    </li>
    <li class="list">
        <h1 class="section-title">Interests</h1>
        <section class="section-content">
            <p>I love dogs. I have one puppy. His name is Supie. He is 5 years old. He is so active and friendly.</p>
        </section>
    </li>
    <li class="list">
        <h1 class="section-title">Hobbies</h1>
        <section class="section-content">
           <ul>
                <li>Playing Piano</li>
                <li>Playing Video Games</li>
                <li>Learning Coding</li>
                <li>Watching Movies</li>
                <li>Swimming</li>
           </ul>
        </section>
    </li>
    <li class="list">
        <h1 class="section-title">Social</h1>
        <section class="section-content">
           <ul>
                <li><a href="https://www.linkedin.com/in/vudoan3112/" target="_blank">Linkedin Profile</a></li>
                <li><a href="https://www.facebook.com/vudoan3112/" target="_blank">Facebook</a></li>
           </ul>
        </section>
    </li>
</ul>